.App {
  text-align: center;
  padding: 30px;
  display: flex;

  }

.span {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.button {
  background-color: aqua;
  width: 70px;
  font-size: 30px;
  border-radius: 10px;
  font-weight:bold;
  border: none;
}

.button-v {
  background-color: aqua;
  width: 105px;
  font-size: 30px;
  margin-left: 50px;
  border-radius: 10px;
  font-weight:bold;
  border: none;
}

.span-v {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: red;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

/*div-v {*/
/*  width: 400px;	height: 200px; !* Размеры *!*/
/*  outline: 2px solid #000; !* Чёрная рамка *!*/
/*  border: 3px solid #fff; !* Белая рамка *!*/
/*  border-radius: 10px; !* Радиус скругления *!*/
/*}*/

.div-v {
  border-radius: 10px;
  border: 2px solid black;
  width: 355px;
  margin: auto;
  padding-bottom: 15px;
}

.div-b {
  border-radius: 10px;
  border: 2px solid black;
  width: 310px;
  margin: auto;
  padding: 5px;
}

.input {
  text-align: center;
  font-size: 20px;
  width: 130px;
  border-radius: 5px;
  border: 2px black solid;
}

.error {
  text-align: center;
  font-size: 20px;
  width: 130px;
  border-radius: 5px;
  border: 2px red solid;
}

.error1 {
  color: red;
  height: 20px;
  margin-left: 10px;
}










