.App {
  text-align: center;
  padding: 30px;
  display: flex;
}

.span {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.span-max-value {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 60px;
  color: white;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.span-count {
  font-size: 70px;
  color: red;
}

.span-text {
  font-size: 25px;
  color: red;
}

.span-v {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: red;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.span-incorrect-value {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: red;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.span-enter-set-button {
  background-color: aqua;
  height: 130px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: red;
  border-radius: 10px;
  border: black 2px solid;
  margin: 15px;
}

.button {
  background-color: aqua;
  width: auto;
  font-size: 30px;
  border-radius: 10px;
  font-weight:bold;
  border: none;
}

.button-active {
  background-color: white;
  width: auto;
  font-size: 30px;
  border-radius: 10px;
  font-weight:bold;
  border: none;
}

.button-v {
  background-color: aqua;
  width: auto;
  font-size: 30px;
  margin-left: 50px;
  border-radius: 10px;
  font-weight:bold;
  border: none;
}

.div-value {
  border-radius: 10px;
  border: 2px solid black;
  width: 355px;
  margin: auto;
  padding-bottom: 15px;
}

.div-button {
  border-radius: 10px;
  border: 2px solid black;
  width: 310px;
  margin: auto;
  padding: 5px;
}

.input {
  text-align: center;
  font-size: 20px;
  width: 130px;
  border-radius: 5px;
  border: 2px black solid;
}

.error {
  text-align: center;
  font-size: 20px;
  width: 130px;
  border-radius: 5px;
  border: 2px red solid;
  background: lightpink;
}











